include ../../node_modules/bemto.pug/bemto

mixin icon(name, mod)
    - mod = mod || ''
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="/eddies-car/img/symbol/sprite.svg#" + name)