footer.footer
    .container
        .row
            .logo-wrapper
                img(src= ibd + $.home.header.logo.img alt= $.home.header.logo.alt).logo
            .copy
                p!= $.home.footer.copy.text
            .call-us
                p.text= $.home.footer.call_us.title
                p.phone= $.home.footer.call_us.phone