header.header
    .container
        .row
            .logo-wrapper
                img(src= ibd + $.home.header.logo.img alt= $.home.header.logo.alt).logo
            span.work-time!= $.home.header.working_time.text
            .call-us
                - var phones = $.home.header.phones
                +b.UL.phones
                    each phone in phones
                        +e.LI.phone= phone.phone
                +b.A(href= $.home.header.buttons.request_call.link).btn._primary= $.home.header.buttons.request_call.text