@import "tools/fonts"
@import "tools/libs"
@import "tools/vars"
@import "tools/mixins"
@import "tools/extends"
@import "tools/keyframes"
@import "tools/smart-grid"
@import "tools/media"
@import "tools/buttons"
@import "tools/inputs"

+reset()

.container
    +wrapper()

.row
    +row-flex()

.icon
    fill: #000000

.section-title
    font-size: 36px
    font-weight: 700
    text-align: center
body
    color: $text-primary
    font-family: 'Montserrat', sans-serif
    font-size: 14px
a
    text-decoration: none

.form
    .input-wrapper
        +to(450px)
            width: 100%
    &__input
        +to(450px)
            width: 100%
            // min-width: 290px
    .btn
        +to(450px)
            width: 100% !important

.section-title
    +sm(font-size, 28px)
    +xs(font-size, 22px)
    
.header
    background-color: $palette-dark
    .row
        height: 100px
        align-items: center
        +to(368px)
            height: 120px
    .logo-wrapper
        +col()
        +size(4)
        +to(640px)
            +size(6)
        +to(368px)
            +size(12)
        .logo
            +to(368px)
                margin: auto
                display: block
    .work-time
        +col()
        +size(2)
        +shift-left(1)
        text-align: center
        font-size: 12px
        white-space: pre-line
        +to(640px)
            display: none
        +md-block()
            +size(4)
            margin: auto
    .call-us
        +col()
        +size(5)
        +size-md(4)
        +to(640px)
            +size(6)
        +to(368px)
            +size(12)
        display: flex
        .phones
            margin-left: auto
            margin-right: 30px
            display: flex
            flex-direction: column
            justify-content: center
            +to(1011px)
                display: none
            &__phone
                font-size: 18px
                font-weight: 700
                margin-bottom: 14px
                &:last-child
                    margin-bottom: 0
        .btn
            +to(1011px)
                margin-left: auto
            +to(640px)
                margin: auto
            +to(440px)
                padding: 15px

// Section home

.home
    background: eurl('header_bg.jpg') no-repeat center center / cover
    height: 860px
    +to(440px)
        height: auto
    .hero
        +col()
        +size(6)
        +size-lg(7)
        +size-md(12)
        +to(440px)
            padding-bottom: 50px
        +sm(padding, 20px)
        color: $text-secondary
        padding: 100px 124px 125px 100px
        +lg(padding, 50px 50px 125px 50px)
        background-color: $palette-secondary
        &__title, &__subtitle
            font-weight: 800
        &__title
            font-size: 40px
            +xl(font-size, 35px)
            +lg(font-size, 30px)
            +to(440px)
                font-size: 22px
                margin-bottom: 20px
            margin-bottom: 49px
            text-transform: uppercase
            word-wrap: normal
        &__subtitle
            font-size: 25px
            +lg(font-size, 20px)
            +md(font-size, 16px)
        .advantages-list
            margin-top: 100px
            +to(440px)
                margin-top: 30px
            .advantge
                display: flex
                align-items: center
                margin-bottom: 48px
                &:last-child
                    margin-bottom: 0
                .icon
                    min-width: 30px
                    max-width: 30px
                    min-height: 30px
                    max-height: 30px
                &__text
                    margin-left: 26px
                    +md(font-size, 16)

// Section request price

.request-price
    background: eurl('wide_belaz_bg.jpg') no-repeat center center / contain
    color: #000000
    max-height: 500px
    padding: 100px 0
    .content-wrapper
        +col()
        +size(10)
        +shift-left(2)
        +to(1095px)
            margin-left: auto
        +to(673px)
            margin: auto
            +size(12)
        justify-content: space-around
        display: flex
        flex-direction: column
        .section-title
            white-space: pre-line
            font-weight: 900
            font-size: 30px
            text-align: right
            margin-left: auto
            +to(460px)
                font-size: 24px
            +to(673px)
                text-align: center
                margin: auto
                white-space: normal

    .form
        display: flex
        flex-direction: column
        margin-top: 60px
        .input-wrapper
            margin-left: 30px
            +to(450px)
                width: 100%
        &__input
            +to(450px)
                width: 100%
        &-top
            display: flex
            flex-direction: row
            justify-content: flex-end
            +to(1095px)
                flex-direction: column
                align-items: flex-end
                .input-wrapper
                    margin-left: 0
                    margin-bottom: 20px
            +to(673px)
                align-items: center
        &-bottom
            display: flex
            flex-direction: row
            margin-top: 30px
            +to(1095px)
                flex-direction: column-reverse
                margin-top: 0
            .note
                display: flex
                margin-right: 30px
                align-items: center
                margin-left: auto
                +to(1095px)
                    margin-right: 0
                    margin-top: 10px
                +to(673px)
                    margin: 20px auto
                &__text
                    font-weight: 700
                    width: 230px
                    text-align: right
                    margin-right: 30px
                    +to(673px)
                        text-align: center
                        margin-right: 10px
                .icon
                    max-width: 30px
                    max-height: 30px
            .btn
                align-self: flex-end
                width: 370px
                height: 70px
                +to(673px)
                    align-self: center
                +to(450px)
                    width: 100%


// Section advantages

.advantages
    background: $palette-primary
    padding: 100px 0
    +md(padding, 30px 0)
    box-sizing: border-box
    .section-title
        font-size: 36px
        +sm(font-size, 28px)
        font-weight: 700
        text-align: center
        width: 100%
    .subtitle
        font-size: 20px
        text-align: center
        margin: 0 auto
        margin-top: 30px
        white-space: pre-line
    .advantages-list
        display: flex
        margin-top: 105px
        +sm(margin-top, 40px)
        flex-wrap: wrap
        width: 100%
        .advantage
            +col()
            +size(3)
            +to(1020px)
                +size(6)
            +sm-block()
                +size(12)
                flex-direction: row
                margin-bottom: 20px
            display: flex
            flex-direction: column
            align-items: center
            &__text
                font-size: 18px
                text-align: center
                width: 250px
                margin-top: 50px
                +to(1020px)
                    margin-top: 10px
                    margin-bottom: 35px
                +sm-block()
                    margin: 0
                    text-align: left
                    margin-left: 20px
                    font-size: 16px
            .icon
                fill: #ffffff
                max-width: 100px
                max-height: 100px
                +sm-block()
                    max-width: 60px
                    max-height: 60px

.find-detail
    background: eurl('blue_belaz_lb.png') no-repeat left bottom, eurl('blue_belaz_rt.png') no-repeat right top, eurl('blue_belaz_pattern.png')
    +md-block()
        background: eurl('blue_belaz_lb.png') no-repeat left bottom/50%, eurl('blue_belaz_rt.png') no-repeat right top/50%, eurl('blue_belaz_pattern.png')
    padding: 100px 0
    +md(padding, 30px 0)
    white-space: pre-line
    .section-title
        font-size: 30px
        +sm(font-size, 28px)
        font-weight: 700
        width: 100%
        text-align: center
    .subtitle
        margin-top: 30px
        font-size: 20px
        text-align: center
        width: 60%
        margin: 0 auto
        +md(width, 100%)
    .form
        +col()
        +size(12)
        display: flex
        margin-top: 60px
        +md(margin-top, 30px)
        justify-content: space-between
        +xl-block()
            flex-direction: column
            align-items: center
        .input-wrapper
            +xl-block()
                margin-bottom: 10px
        .btn
            width: 370px
            height: 70px
    .recall-text
        margin-top: 60px
        text-align: center
        width: 100%
        b
            font-size: 30px
            margin: 16px
        br
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0


// Section Safe shipping
.safe-shipping
    color: $text-secondary
    padding: 100px 0
    +md(padding, 30px 0)
    .section-title
        font-weight: 700
        width: 100%
        text-align: center
        font-size: 36px
        +sm(font-size, 28px)
    .safe-shipping-list
        display: flex
        margin-top: 100px
        +sm(margin-top, 30px)
        +to(813px)
            flex-direction: column
            width: 100%
        .list-item
            +col()
            +size(4)
            +to(813px)
                +size(12)
                align-items: center
                margin-bottom: 40px
                &:last-child
                    margin-bottom: 0
            display: flex
            flex-direction: column
            justify-content: center
            text-align: center
            align-items: center
            &__img
                min-height: 300px
                min-width: 230px
            &__description
                font-size: 18px
                margin-top: 40px
                +to(813px)
                    margin-top: 10px
            &__more
                font-weight: 700
                font-size: 18px
                text-decoration: underline
                color: $text-secondary
                margin-top: 40px
                +to(813px)
                    margin-top: 10px
.discounts
    padding: 100px 0
    +md(padding, 30px 0)
    background-color: $palette-primary
    .section-title
        +col()
        +size(10)
        +shift(1)
        +sm(font-size, 28px)
        +md-block()
            margin: auto
            width: 100%
    &-list
        display: flex
        margin-top: 100px
        +sm(margin-top, 40px)
        flex-wrap: wrap
        .list-item
            +col()
            +size(3)
            +to(802px)
                +size(6)
                margin-bottom: 30px
            +to(450px)
                +size(12)            
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            &__circle
                width: 100px
                height: 100px
                border: 2px solid $text-primary
                border-radius: 100%
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 40px
                +to(802px)
                    margin-bottom: 10px
                .icon
                    fill: $text-primary
                    max-width: 56px
                    max-height: 39px
            &__circle-text
                font-weight: 700
                font-size: 30px

.leave-questions
    background-color: $palette-primary-light
    padding: 100px 0
    +md(padding, 30px 0)
    display: none
    .section-title, .subtitle
        text-align: center
        width: 100%
    .subtitle
        margin: 30px 0 100px 0
        font-size: 20px
    .questions-list
        +col()
        +size(5)
        display: flex
        flex-direction: column
        &__item
            margin-bottom: 55px
            font-weight: 700
            text-decoration: underline
            padding-left: 40px
            cursor: pointer
            &:last-child
                margin-bottom: 0
    .director
        +col()
        +size(6)
        +shift-left(1)
        height: 390px
        background: eurl('director.jpg') no-repeat center center / contain
        position: relative
        &__job-title-bg
            background-color: transparentize($palette-primary-light, .2)
            width: 230px
            padding: 12px 29px 11px 19px
            position: absolute
            bottom: 0
            left: 0

// Section Comfort-Work

.comfort-work
    color: $text-secondary
    padding: 100px 0
    +md(padding, 30px 0)
    .section-title, .subtitle
        width: 100%
        text-align: center
    .subtitle
        font-size: 20px
        padding-top: 30px
    .road
        display: flex
        text-align: center
        width: 100%
        padding-top: 100px
        +sm(padding-top, 40px)
        +to(842px)
            flex-wrap: wrap
        &-item
            +col()
            +size(4)
            +to(842px)
                +size(12)
            display: flex
            flex-direction: column
            align-items: center
            &__img
                width: 88px
                height: 88px
            &__description
                padding-top: 49px
                font-size: 18px
                white-space: pre-line
                +to(842px)
                    white-space: normal
                    padding-top: 15px
                    padding-bottom: 30px

// Section our stock

.our-stcok
    background-color: $palette-primary-light
    padding: 100px 0
    +md(padding, 30px 0)
    .section-title, .subtitle
        width: 100%
        text-align: center
    .subtitle
        font-size: 20px
        padding-top: 30px
    .stock-photos
        margin-top: 60px
        display: flex
        width: 100%
        +md(flex-direction, column)
        .stock-photo
            +col()
            +size(4)
            +size-md(12)
            +md-block()
                margin-bottom: 20px
                &:last-child
                    margin-bottom: 0
            &__img
                +md(display, block)
                +md(margin, auto)

// Section Mobile Team
.mobile-team
    padding: 100px 0
    +md(padding, 30px 0)
    color: $text-secondary
    white-space: pre-line
    .section-title
        width: 100%
        +sm(font-size, 28px)
    .road
        padding-top: 100px
        +md(padding-top, 30px)
        width: 100%
        display: flex
        +to(914px)
            flex-direction: column
        .road-item
            +col()
            +size(4)
            +to(914px)
                flex-direction: row
                +size(8)
                +shift(2)
            +to(610px)
                +size(10)
                +shift(1)
            +to(500px)
                +size(12)
                margin: auto
                margin-bottom: 30px
            +to(450px)
                flex-direction: column
            display: flex
            align-items: center
            text-align: center
            flex-direction: column
            +to(914px)
                margin-bottom: 30px
                &:last-child
                    margin-bottom: 0
            &__circle
                border: 5px solid $palette-secondary-dark
                border-radius: 100%
                min-width: 170px
                min-height: 170px
                display: flex
                align-items: center
                justify-content: center
                +to(914px)
                    min-width: 120px
                    min-height: 120px
            &__description
                padding-top: 40px
                +to(914px)
                    margin-left: 30px
                    padding-top: 0
                    text-align: left
                +to(450px)
                    text-align: center            
                    margin: auto
                    margin-top: 10px

// Section consultation

.consultation
    background: eurl('belaz_full.png') no-repeat bottom right 37px, #0d324d
    padding: 100px 0
    +md(padding, 30px 0)
    .section-title
        +col()
        font-size: 27px
        +sm(font-size, 20px)
        width: 100%
    .call-us, .phone
        +col()
        width: 100%
        text-align: center
    .call-us
        font-size: 14px
        margin-top: 60px
    .phone
        margin-top: 16px
        font-size: 30px
        font-weight: 700
        +sm(font-size, 22px)
    .form
        display: flex
        width: 100%
        justify-content: center
        align-items: center
        margin-top: 60px
        +to(710px)
            flex-direction: column
        .input-wrapper
            margin-right: 30px
            +to(710px)
                margin-right: 0
                margin-bottom: 20px
        .btn, .input
            width: 370px
            height: 70px

// Section Wolcomew to office

.welcome-to-office
    color: $text-secondary
    padding: 100px 0
    +md(padding, 30px 0)
    background: eurl('wide_belaz_second.png') no-repeat center center/cover
    .section-title, .adress, .phone
        width: 100%
        text-align: center
        +col()
        +size(12)
    .adress
        margin-top: 100px
        +md(margin-top, 30px)
    .phone
        margin-top: 34px
        font-size: 24px
        font-weight: 900

// Section Map

.map
    background-color: $palette-dark
    iframe
        border: 0
        width: 100%
        height: 375px

// Footer

.footer
    background-color: $palette-dark
    +md(padding, 30px 0)
    .row
        height: 120px
        align-items: center
        +md-block()
            height: auto
    .logo-wrapper
        +col()
        +size(4)
        +md-block()
            +size(12)
            display: flex
            justify-content: center
    .copy
        +col()
        +size(4)
        +size-md(12)
        text-align: center
        +md(margin-top, 10px)
    .call-us
        +col()
        +size(4)
        +md-block()
            +size(12)
            text-align: center
            margin-top: 10px
        text-align: right
        .text
            font-size: 13px
        .phone
            font-size: 18px
            font-weight: 700
